<footer class="site-footer" id="site-footer">
<div class="footer-main footer--row layout-full-contained" id="cb-row--footer-main" data-row-id="main" data-show-on="desktop mobile">
  <div class="footer--row-inner footer-main-inner dark-mode">
    <div class="customify-container">
      <div class="customify-grid customify-grid-top">
        <div class="customify-col-4_md-4_sm-6_xs-12 builder-item builder-first--footer-1" data-push-left="_sm-0"><div class="item--inner builder-item--footer-1" data-section="sidebar-widgets-footer-1" data-item-id="footer-1"><div class="widget-area"><section class="widget widget_block"><h2>Alamat Kantor SURENDO</h2></section><section class="widget widget_block"><i class="fa fa-home"></i> Jl. Raya medayu utara kav. 27 Rungkut Surabaya.<br><i class="fa fa-phone"></i> 031 8783440 | <i class="fa fa-envelope"></i> info@surendo.co.id<br><i class="fa fa-clock-o"></i> Senin - Sabtu: 08:30 - 17:00</section></div></div></div>
        <div class="customify-col-4_md-4_sm-6_xs-12 builder-item builder-first--footer-2" data-push-left="_sm-0"><div class="item--inner builder-item--footer-2" data-section="sidebar-widgets-footer-2" data-item-id="footer-2"><div class="widget-area"><section class="widget widget_block"><h2>Kontak Kami</h2></section><section class="widget widget_block"><i class="fa fa-mobile"></i> 0822-7639-8888 (Imey)<br><i class="fa fa-mobile"></i> 0812-2015-2888 (Imey)<br><i class="fa fa-mobile"></i> Costumer Service: 0812-2014-1999</section></div></div></div>
        <div class="customify-col-4_md-4_sm-6_xs-12 builder-item builder-first--footer-3" data-push-left="_sm-0"><div class="item--inner builder-item--footer-3" data-section="sidebar-widgets-footer-3" data-item-id="footer-3"><div class="widget-area"><section class="widget widget_block"><h2>Lokasi PJU Solar Cell</h2></section><section class="widget widget_block"><iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7914.702815607191!2d112.784076!3d-7.314363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfb2eaacb71dc9014!2sSOLAR+ENERGY+INDONESIA+(SURENDO)!5e0!3m2!1sen!2sid!4v1549175564654" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></section></div></div></div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom footer--row layout-full-contained" id="cb-row--footer-bottom" data-row-id="bottom" data-show-on="desktop">
  <div class="footer--row-inner footer-bottom-inner dark-mode">
    <div class="customify-container">
      <div class="customify-grid customify-grid-top"><div class="customify-col-12_md-12_sm-12_xs-12 builder-item builder-first--footer_copyright" data-push-left="_sm-0"><div class="item--inner builder-item--footer_copyright" data-section="footer_copyright" data-item-id="footer_copyright"><div class="builder-footer-copyright-item footer-copyright"><p>Hak Cipta © {{ 'now' | date: '%Y' }} SURENDO.</p></div></div></div></div>
    </div>
  </div>
</div>
</footer>
