---
layout: default
hide_titlebar: true
body_class: home page-template page-template-elementor_header_footer page wp-custom-logo elementor-page elementor-page-144
---
<main id="site-content" class="site-content"><div class="customify-container"><div class="customify-grid">
<div id="metaslider-id-165" style="max-width: 1920px;" class="ml-slider-3-16-4 metaslider metaslider-flex metaslider-165 ml-slider nav-hidden">
  <div id="metaslider_container_165"><div id="metaslider_165" class="flexslider">
    <ul aria-live="polite" class="slides">
      <li class="slide-284 ms-image"><img src="{{ '/assets/uploads/2019/03/slide-fix-2.jpg' | relative_url }}" width="1280" height="500" alt="Surendo PJU Solar Cell" class="slider-165-slide-284" /></li>
      <li class="slide-285 ms-image" style="display:none;"><img src="{{ '/assets/uploads/2019/02/WhatsApp-Image-2019-02-12-at-9.19.13-AM-1280x500.jpeg' | relative_url }}" width="1280" height="500" alt="Surendo PJU Solar Cell" class="slider-165-slide-285" /></li>
      <li class="slide-286 ms-image" style="display:none;"><img src="{{ '/assets/uploads/2019/03/slide-fix-1.jpg' | relative_url }}" width="1280" height="500" alt="Surendo PJU Solar Cell" class="slider-165-slide-286" /></li>
    </ul>
  </div></div>
</div>
<div class="elementor elementor-144">
<section class="elementor-section elementor-top-section elementor-section-boxed elementor-section-height-default">
  <div class="elementor-container elementor-column-gap-default"><div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-top-column"><div class="elementor-column-wrap elementor-element-populated"><div class="elementor-widget-wrap">
      <div class="elementor-element elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><div class="elementor-text-editor elementor-clearfix">
        <h3>Surya Energy Indonesia (SURENDO)</h3>
        <p>Kami adalah perusahaan yang bergerak dibidang pabrikasi tiang Penerangan Jalan Umum dan Energi Terbarukan. Melalui perkembangan teknologi yang terus berkembang, kami berusaha memenuhi kebutuhan akan sumber daya energi alternatif yang bisa dimanfaatkan secara berkelanjutan. Kami dipercaya sebagai penyedia energi terbarukan sejak tahun 2008 dan produk kami telah terpakai di seluruh pelosok Indonesia.<br></p>
      </div></div></div>
    </div></div></div>
  </div></div>
</section>
<section class="elementor-section elementor-top-section elementor-section-boxed elementor-section-height-default">
  <div class="elementor-container elementor-column-gap-default"><div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-top-column"><div class="elementor-column-wrap elementor-element-populated"><div class="elementor-widget-wrap">
      <h2 class="elementor-heading-title elementor-size-default">Produk Surendo</h2>
      <div class="prod-figures">
        <figure>
          <a href="{{ '/product-category/pju-solarcell-stando/' | relative_url }}"><img width="843" height="914" src="{{ '/assets/uploads/2021/07/PJUTS-STANDO-LOGO-944x1024.jpg' | relative_url }}" alt="Paket PJU Solarcell 3 In 1 / Konvensional" loading="lazy" /></a>
          <figcaption>Paket PJU Solarcell 3 In 1 / Konvensional</figcaption>
        </figure>
        <figure>
          <a href="{{ '/product-category/pju-solarcell-suritech-allinone/' | relative_url }}"><img width="300" height="278" src="{{ '/assets/uploads/2021/07/AIO-LOGO-300x278.jpg' | relative_url }}" alt="Paket PJU Solarcell ALL IN ONE" loading="lazy" /></a>
          <figcaption>Paket PJU Solarcell ALL IN ONE</figcaption>
        </figure>
        <figure>
          <a href="{{ '/product-category/pju-solarcell-suritech-2-in-1/' | relative_url }}"><img width="843" height="560" src="{{ '/assets/uploads/2021/07/2-in-1-LOGO-1024x680.jpg' | relative_url }}" alt="SOLARCELL" loading="lazy" /></a>
          <figcaption>Paket PJU Solarcell Two in One</figcaption>
        </figure>
        <figure>
          <a href="{{ '/product-category/warninglight-solarcell/' | relative_url }}"><img width="843" height="690" src="{{ '/assets/uploads/2019/03/Warninglight-1024x838.jpg' | relative_url }}" alt="Warninglight" loading="lazy" /></a>
          <figcaption>Paket Warning Light Solarcell</figcaption>
        </figure>
      </div>
    </div></div></div>
  </div></div>
</section>
<section class="elementor-section elementor-top-section elementor-section-boxed elementor-section-height-default">
  <div class="elementor-container elementor-column-gap-default"><div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-top-column"><div class="elementor-column-wrap elementor-element-populated"><div class="elementor-widget-wrap">
      <div class="elementor-element elementor-widget elementor-widget-video"><div class="elementor-widget-container">
        <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-aspect-ratio-169 elementor-open-lightbox">
          <iframe class="elementor-video-iframe" allowfullscreen title="Video SURENDO" src="https://www.youtube.com/embed/_SDbOHIU8Gk?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Faksisoftsby.github.io"></iframe>
        </div>
      </div></div>
    </div></div></div>
  </div></div>
</section>
<section class="elementor-section elementor-top-section elementor-section-boxed elementor-section-height-default">
  <div class="elementor-container elementor-column-gap-default"><div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-top-column"><div class="elementor-column-wrap elementor-element-populated"><div class="elementor-widget-wrap">
      <h2 class="elementor-heading-title elementor-size-default">Our Client</h2>
      <div class="clients-grid">
        {% assign clients = 'client-1,client-2,client-3,client-4,client-5,client-6,client-7,client-8,client-9,client-10' | split: ',' %}
        {% for c in clients %}
        <div class="client-item"><img width="101" height="74" src="{{ '/assets/uploads/2019/02/' | append: c | append: '.jpg' | relative_url }}" alt="" loading="lazy" /></div>
        {% endfor %}
      </div>
    </div></div></div>
  </div></div>
</section>
<section class="elementor-section elementor-top-section elementor-section-content-middle elementor-section-full_width elementor-section-height-default">
  <div class="elementor-container elementor-column-gap-no"><div class="elementor-row">
    <div class="elementor-column elementor-col-100 elementor-top-column"><div class="elementor-column-wrap elementor-element-populated"><div class="elementor-widget-wrap">
      <h6 class="elementor-heading-title elementor-size-default">Kontak Surendo</h6>
      <h6 class="elementor-heading-title elementor-size-default"><a href="tel:0318783440">031 8783440</a></h6>
      <h3 class="elementor-heading-title elementor-size-default">Jl. Raya Medayu Utara Kav. 27 Rungkut Surabaya.</h3>
      <div class="elementor-element elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons">
        <div class="elementor-widget-container"><div class="elementor-social-icons-wrapper elementor-grid">
          <span class="elementor-grid-item"><a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-grow" target="_blank"><span class="elementor-screen-only">Facebook</span><i class="fa fa-facebook"></i></a></span>
          <span class="elementor-grid-item"><a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-grow" href="https://www.instagram.com/suryaenergyindonesia" target="_blank"><span class="elementor-screen-only">Instagram</span><i class="fa fa-instagram"></i></a></span>
          <span class="elementor-grid-item"><a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow" href="https://www.youtube.com/channel/UCxaUL2eb_05u2WzZOkj2h4w" target="_blank"><span class="elementor-screen-only">Youtube</span><i class="fa fa-youtube"></i></a></span>
        </div></div>
      </div>
    </div></div></div>
  </div></div>
</section>
</div>
</div></div></div>
</main>
